/*
Theme Name: kaffe
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kaffe
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

kaffe is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*
Theme Name: TFK
Theme URI:
Author: Robin Wikingsson
Author URI: https://wordpress.org/
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.wp-audio-shortcode {
   visibility: visible !important;
}

* {
   padding: 0;
   margin: 0;
}

body {
   line-height: 1.5;
   font-family: "Roboto", sans-serif;
   font-weight: normal;
   color: #333;
   background-color: #fff;
}

html {
   font-size: 15px;
   line-height: 1.5;
   font-family: "Roboto", sans-serif;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.87);
}

p {
   font-size: 22px;
   margin-top: 0;
}

h1 {
   font-size: 4.2em;
   line-height: 110%;
   /*margin: 2.1rem 0 1.68rem 0;*/
   font-weight: bold;
}

h2 {
   font-weight: bold;
}

h5 {
   font-size: 1.64em;
   line-height: 110%;
   margin: 2.1rem 0 1.68rem 0;
   font-weight: 300;
}

img {
   max-width: 100%;
}

a {
   color: #F44336;
}


a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

/* BOOTSTRAP FIX */

.thumbnail{
   border: 0px;
}

.thumbnail .caption {
   padding: 0px;
   padding-top: 10px;
}

.row {
   margin: 0;
   margin-bottom: 0px;
}

.row .col {
   padding: 0px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff !important;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn-large {
   color: #fff !important;
   font-size: 15px;
   background-color: #EF5350;
   height: 54px;
   line-height: 54px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#index-banner{
   height: 80vh;
   text-align: center;
   background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-3156.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

/* Audio Player */
.mejs-controls .mejs-time-rail .mejs-time-current {
   background: #F44336 !important;

}


.intro h1 {
   font-size: 6.2em;
   font-weight: bold;
   color: rgba(0, 0, 0, 0.87);
   margin: 0 1.68rem 0;
}



.intro {
  color:;
  height: 500px;

}

.section {
   padding-bottom: 0px;
   padding-top: 0px;
}



/* nav fix */
.button_container {
  position: fixed;
  top: 5%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #F44336;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
   z-index: 99;
   position: fixed;
   background: #EF5350;
   top: 0;
   left: 0;
   width: 100%;
   height: 0%;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: opacity .35s, visibility .35s, height .35s;
   transition: opacity .35s, visibility .35s, height .35s;
   overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
   padding: 20px;
   display: block;
   height: 25%;
   height: calc(100% / 4);
   min-height: 50px;
   position: relative;
   opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.brand-logo img {
  padding-top: 10px;
  width: 100px;
}

.logo {
   width: 100px;
   display: block;
   margin: 20px auto;
}



/* Om tfk */



.circle {
   width: 400px;
   height: 400px;
   border-radius: 50%;
   border: 2px dashed #fff;
   padding: 10px;
}

.om-text {
   height: 100%;
   color: #fff;
   margin: 0 auto;
   max-width: 700px;
}

.om-text-sub {
   margin: 0 auto;
   max-width: 700px;
}

.om-image {
   display: flex;
   height: 100%;
   padding: 10px !important;
}

.om-image img {
   object-fit: cover;
   display: block;
   margin: auto;
}

.om-content {
   text-align: center;
   background-color: #383732;
   /* background-color: #424242; */
   padding: 20px !important;
}


/* Pod Item */

.card-panel {
   padding: 0px;
   box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
   margin: 0;
   border-radius: 0px;
   background-color: #fff;
}

.pod-item {
   max-height: 420px;
   overflow: hidden;
}

.pod-item h1 {
   font-weight: bold;
   margin: 0;
   margin-bottom: 10px;
}

.pod-item a {
   color: rgba(0, 0, 0, 0.87);
   font-size: 22px;
}

.pod-image {
   position: relative;
   padding: 0px !important;
}

.pod-image img {
   max-width: 100%;
   height: auto;
}

.avsnittsguide {
   text-transform: uppercase;
   float: right;
   display: block;
   height: 45px;
   line-height: 54px;
}


.pod-item:nth-child(odd) .pod-image{
   float:left !important;
}
.pod-item:nth-child(even) .pod-image{
   float: right !important;

}

/*.pod-item:nth-child(odd) .pod-image img{
    float:left;
    border-right:5px solid #F44336 ;
}
.pod-item:nth-child(even) .pod-image img{
     float: right;
     border-left:5px solid #F44336 ;
     border-right:0;
}
*/
.pod-content p {
   font-size: 22px;
}

.pod-content {
   position: relative;
   padding: 40px !important;
   height: 420px;
}

.podcast-episode {
	padding-bottom: 20px;
}

.pod-bottom {
   width: 100%;
   position: absolute;
   bottom: 0;
   right: 0;
   margin-bottom: 0px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 40px 20px 40px;
}

.social-media {
   text-align: center;
   width: 50px;
   float: left;
   display: block;
   padding: 10px;
   color: #fff !important;
}


.facebook {
   background-color: #507cbe;
}

.twitter {
   background-color: #63cdf1;
}

.youtube {
   background-color: #f16261;
}

.itunes {
  background-color: #B948E5;
}

.instagram {
   background-color: #3f729b;
}

.pod-bottom > ul > li {
    position: relative;
    display: inline-block;
}

.sub-twitter {
   text-decoration: none;
   display: inline-block;
   list-style: none;
}

.pod-bottom > ul {
   float: left;
   display: block;
}

.pod-bottom > ul ul {
    position: absolute;
    bottom: 53px;
    left: 0;
    display: none;
}

.pod-bottom > ul > li:hover ul {
    display: block;
}


.pod-social {
   display: none;
}


/* single post */

.single-top a {
   margin-bottom: 0px !important;
   color: #333;
}

.single-top h5 {
   margin: 1.1rem 0 1.68rem 0;
   margin-bottom: 0px;

}

.single-top .logo {
   margin: 10px auto;
}

.single-player {
   position: relative;
   height: auto;
   top: 50px;
   text-align: center;
}

.single-player a {
   margin-top: 10px;
   margin-bottom: 10px;
}

.single-player h1 {
   margin: 0;
}

.single-post {
   background: #fff;
   /* background: #fafafa;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
   margin-bottom: 20px;
   position: relative;
}

.container-single {
   z-index: 2 !important;
   position: relative;
   margin: -132px auto 0 auto;
}
.container-single:before {
    z-index: -1;
    position: absolute;
    content: "";
    right: auto;
    left: 7px;
    width: 10px;
    height: 140px;
    top: 10px;
    background: transparent;
    -webkit-box-shadow: -4px 8px 17px #777;
    -moz-box-shadow: -4px 8px 17px #777;
    box-shadow: -4px 8px 17px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate-(3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.container-single:after {
    z-index: -1;
    position: absolute;
    content: "";
    right: 7px;
    left: auto;
    width: 10px;
    height: 140px;
    top: 10px;
    background: transparent;
    -webkit-box-shadow: 4px 8px 17px #777;
    -moz-box-shadow: 4px 8px 17px #777;
    box-shadow: 4px 8px 17px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}


.post-navigation {
   font-size: 24px;
}

.pod-social-single {
   margin-bottom: 20px;
}

.post-like{
    margin-top:1em
}

.like{
    background:url(images/icons.png) no-repeat;
    width: 15px;
    height: 16px;
    display: block;
    float:left;
    margin-right: 4px;
    -moz-transition: all 0.2s ease-out 0.1s;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s
}

.post-like a:hover .like{
    background-position:-16px 0;
}

.voted .like, .post-like.alreadyvoted{
    background-position:-32px 0;
}

/* Arkiv */

.arkiv {
   background: #fff;
   padding: 10px;
   margin-bottom: 20px;
   z-index: 1;
   position: relative;
}

.searchform {
   width: 40%;
   position: relative;
   max-height: 80px;
}

.form-group {
    padding-bottom: 0px;
    margin: 0 auto;
    margin-top: 15px;
}

.input-group {
   display: inline;
}

.searchform > .btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover, .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus {
    background-color: transparent;
}

.searchform  form[role="search"] {
   position: absolute;
   top: 0px;
   right: 0px;
   width: 100%;
   padding: 0px;
   margin: 0px;
   z-index: 0;
}
.searchform  form[role="search"] button,
.searchform  form[role="search"] input {
   padding: 8px 12px;
   border-radius: 0px;
   border-width: 0px;
   color: rgb(119, 119, 119);
   background-color: rgb(248, 248, 248);
   border-color: rgb(231, 231, 231);
   box-shadow: none;
   outline: none;
}
.searchform  form[role="search"] input {
   padding: 16px 12px;
   font-size: 14pt;
   font-style: italic;
   color: rgb(160, 160, 160);
   box-shadow: none;
}

.glyphicon {
   margin-right:5px;
}

.thumbnail {
   height: 450px;
   margin-bottom: 20px;
   padding: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.thumbnail a {
   color: rgba(0, 0, 0, 0.87);
   font-size: 16px;
}


.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}
.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
   margin: 0 0 11px;
   font-size: 20px;
}


.kaffe-news-load-more {
   text-align: center;
   color: #fff;
   background-color: #EF5350;
}

.search-header h1 {
   margin: 0;
}

.search-header {
   padding-left: 15px;
   padding-right: 15px;
   height: 70px;
   margin: 1.68rem 0 1.68rem 0;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 50%;
   right: 50%;
   bottom: 0;
   background: #F44336;
   height: 4px;
   -webkit-transition-property: left, right;
   transition-property: left, right;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}



/* footer */

footer {
  width: 100%;
  color: #fff;
  background-color: #383732;
}

/* scroll */

::-webkit-scrollbar-thumb {
    background-color: #F44336;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}


/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {

   h1 {
      font-size: 2.4rem;
   }

   p {
      font-size: 18px !important;
   }

   .overlay nav {
    height: 85%;
   }



   .intro h1 {
      font-size: 4.2em;
   }


   #index-banner {
    height: 70vh;
   }


   .button_container {
    right: 5%;
   }

   .circle {
      width: 250px;
      height: 250px;
   }

   .om-text {
      padding-bottom: 10px;
   }


   .pod-social {
      visibility: hidden;
   }

   .pod-item {
      position: relative;
      padding: 0px !important;
      height: auto;
      max-height: none;
   }

   .pod-image img {
      max-width: 100%;
      height: auto;
   }

   .pod-bottom {
      visibility: visible;
      position: inherit;
      width: 100%;
      padding: 0px;
      padding-bottom: 0;
   }

   .pod-item a {
      font-size: 18px;
      color: #000;
   }

   .social-media {
    width: 40px;
   }


   .pod-content {
      padding: 20px !important;
      height: auto;
   }

   .pod-item h1 {
      font-size: 1.8em;
   }


}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {

   .pod-item {
      height: auto !important;
      max-height: none;
   }


}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {


   p {
      font-size: 18px;
   }

   h1 {
      font-size: 3.2rem;
   }

   .om-text {
      padding: 20px;
      width: 100%;
   }

   .om-text h1 {
      margin: 0;
   }

   .circle {
      width: 300px;
      height: 300px;
   }


   .pod-content h1 {
   font-size: 2.2rem;
   }

   .pod-content p {
      font-size: 18px;
   }


   .pod-content {
      padding: 20px !important;
      height: 300px;
   }

   .pod-social {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 20px 0px 20px;
   }

   .pod-social > ul {
      display: inline;
   }

   .pod-social > ul ul {
      position: absolute;
      bottom: 40px;
      left: 0;
      display: none;
   }

   .pod-social > ul > li:hover ul {
      display: block;
   }

   .social-media {
     /*padding: 5px;*/
     color: #fff !important;
   }

   .pod-social > ul > li {
       position: relative;
       display: inline;
   }

   .pod-item a {
      font-size: 18px;
   }

   .pod-bottom > .podcast-episode {
      display: none;
   }

   .pod-bottom {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 40px 0px 40px;

}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {



}

/*
@media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {
   .pod-content h1 {
   font-size: 3.2rem;
   }

   .pod-content p {
      font-size: 20px;
   }

   .pod-image img {
    max-width: 100%;
    height: auto;
   }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

   .pod-content h1 {
   font-size: 2.2rem;
   }

   .pod-content p {
      font-size: 18px;
   }

   .pod-item {
      height: 280px;
   }

   .pod-content {
      padding: 20px !important;
      height: auto;
   }

   .pod-bottom {
      visibility: hidden;
   }

   . {
      visibility: visible;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 20px 20px 20px;
   }

   .pod-social > ul {
      display: inline;
   }

   .pod-social > ul ul {
      position: absolute;
      bottom: 40px;
      left: 0;
      display: none;
   }

   .pod-social > ul > li:hover ul {
      display: block;
   }

   .social-media {
     padding: 5px;
     color: #fff !important;
   }

   .pod-social > ul > li {
       position: relative;
       display: inline;
   }

   .pod-item a {
      color: #fff;
      font-size: 18px;
   }

}

@media only screen and (max-width: 992px) {
   p {
      font-size: 18px;
   }

   h1 {
      font-size: 3.2rem;
   }

   .om-text {
      padding: 20px;
      width: 100%;
   }

   .om-text h1 {
      margin: 0;
   }

   .circle {
      width: 300px;
      height: 300px;
   }

}

@media only screen and (max-width: 768px) {

   .pod-social {
      visibility: hidden;
   }

   .pod-item {
      position: relative;
      padding: 0px !important;
      height: auto;
   }

   .pod-image img {
      max-width: 100%;
      height: auto;
   }

   .pod-bottom {
   visibility: visible;
   width: 100%;
   position: inherit;
   padding: 0px ;
   }

   .pod-item a {
      color: #000;
   }

}


@media only screen and (max-width: 601px) {
   h1 {
      font-size: 2.4rem;
   }
   .circle {
      width: 250px;
      height: 250px;
   }

   .om-text {
   padding-bottom: 10px;
   }



}
*/


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 50%;
   right: 50%;
   bottom: 0;
   background: #F44336;
   height: 4px;
   -webkit-transition-property: left, right;
   transition-property: left, right;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#escapingBallG {
    width: 58px;
    height: 20px;
    margin-top: -22px;
    margin-right: 10px;
    position: relative;
    float: right;
    display: none;
}

.escapingBallG {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -moz-animation-name: bounce_escapingBallG;
    -moz-animation-duration: 1.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -moz-transform: scale(0.5, 1);
    -webkit-border-radius: 10px;
    -webkit-animation-name: bounce_escapingBallG;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-transform: scale(0.5, 1);
    -ms-border-radius: 10px;
    -ms-animation-name: bounce_escapingBallG;
    -ms-animation-duration: 1.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -ms-animation-delay: 0s;
    -ms-transform: scale(0.5, 1);
    -o-border-radius: 10px;
    -o-animation-name: bounce_escapingBallG;
    -o-animation-duration: 1.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0s;
    -o-transform: scale(0.5, 1);
    border-radius: 10px;
    animation-name: bounce_escapingBallG;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    transform: scale(0.5, 1);
}